.commdetails{
    position: relative;
    width: 100%;
}
.inp-part{ 
    padding: 2%;
}
.inp-btn{   
     position: absolute;
     left:10%;
}
.verifySecond{
     position: absolute !important;
     left:35%;
}