.full{
   height: 100vh;
}
.menu{
    width: 100%;
    padding: 10px 0 10px 90px;
    font-size: 20px;
   
    font-weight: bold;
    border-bottom: 1px solid #000;

}
.sidebar{
 padding: 0 ;
}
.panel{
    flex: 1;
}